<html xmlns="http://www.w3.org./1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <table border="1">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Data Nascimento</th>
                <th>Rua</th>
                <th>Numero</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Estado</th>
            </tr>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.nome}"></td>
                <td th:text="${cliente.cpf}"></td>
                <td th:text="${cliente.telefone}"></td>
                <td th:text="${cliente.dtNascimento}"></td>
                <td th:text="${cliente.rua}"></td>
                <td th:text="${cliente.numero}"></td>
                <td th:text="${cliente.bairro}"></td>
                <td th:text="${cliente.cidade}"></td>
                <td th:text="${cliente.estado}"></td>                
            </tr>
        </table>
    </body>
</html>
